body{

}
.parent{
    transform: translateY(50%);
    
}
.wrapper{
    position:relative;
    justify-content: center;
    display: none;

}
.span, .span_large{
    float: left;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border-radius: 1px;
    margin-right: 100px;
}
.timer{
    transform: translateY(250px);
    width: 100px;
    height: 100px;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px #000;
    border-radius: 50%;
    position: relative;
    left: 45%;
    margin: 38px auto;/* Not necessary- its only for layouting*/
}
.timer:after, .timer:before{
    position: absolute;
    content:"";
    background-color: #000;
}
.timer:after{
    width: 35px;
    height: 2px;
    top: 50px;
    left: 50px;
    -webkit-transform-origin: 1px 1px;
    -moz-transform-origin: 1px 1px;
    transform-origin: 1px 1px;
    -webkit-animation: minhand 2s linear infinite;
    -moz-animation: minhand 2s linear infinite;
    animation: minhand 2s linear infinite;
}

.timer:before{
    width: 20px;
    height: 2px;
    top: 50px;
    left: 50px;
    -webkit-transform-origin: 1px 1px;
    -moz-transform-origin: 1px 1px;
    transform-origin: 1px 1px;
    -webkit-animation: hrhand 8s linear infinite;
    -moz-animation: hrhand 8s linear infinite;
    animation: hrhand 8s linear infinite;
}

@-webkit-keyframes minhand{
    0%{-webkit-transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes minhand{
    0%{-moz-transform:rotate(0deg)}
    100%{-moz-transform:rotate(360deg)}
}
@keyframes minhand{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}

@-webkit-keyframes hrhand{
    0%{-webkit-transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes hrhand{
    0%{-moz-transform:rotate(0deg)}
    100%{-moz-transform:rotate(360deg)}
}
@keyframes hrhand{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}

a{

    display: block;
    text-align: center;
    color: #000 !important;
    margin:10px;
    padding:20px;
    border:solid black 2px;
    border-radius:10px;
    background:blue;
    max-width:300px;
    margin:20px auto;
    cursor: pointer;
}
a:hover{
    text-decoration: none !important;
    border:solid darkgray 2px;
}